lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

my_personal_config.js

pids
logs
results
build

!profile_pics/
profile_pics/*

!node_modules/
node_modules/*
!node_modules/express-mailer

.DS_Store

*.py

*.orig

*.sublime-project
*.sublime-workspace
