doctype 5
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title
			|Scoragora - translation
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		block stylesheet
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
		block script
	body
		#wrap
			div.container
				block header
				block content
		script(type="text/javascript", src="/js/bootstrap/bootstrap.min.js")